<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <form action="/ingresar" method="post">
        <h1>Datos</h1>
        <label for="Username">Cedula</label>
        <input type="text" name="cedula" placeholder="Cedula">
        <label for="NombrYApellido ">Nombre y Apellidos</label>
        <input type="text" name="nombreYapellido" placeholder="Nombre y Aplleido">
        <label for="Accion inegreso">Ingreso/Salida</label>
        <input type="text" name="Ingresar" placeholder="Tipo Ingreso">









        <button>Ingresar</button>
    </form>
    <table id="tabla">
        <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        {{#each datos}} <!-- Iteración sobre un arreglo de datos -->
        <tr>
            <td>{{cedula}}</td> <!-- Acceso a las propiedades del objeto de datos -->
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{accion}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

</body>
</html>